RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^users/(.*)-(.*)$ user.php?id=$1&username=$2 [NC]
RewriteRule ^pages/(.*)$ pages.php?name=$1 [NC]
RewriteRule ^report/(.*)$ report.php?id=$1 [NC]
RewriteRule ^([^\.]+)$ $1.php [NC,L]