/* Styles go here */

.ripple-wave{
    display: none;
  }
#outPopUp {
  position: absolute;
  width: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: transparent;
}
body{
  background-color: linear-gradient(white, #f7f7f8);
  -webkit-overflow-scrolling: touch
}

.swal2-container{
  z-index: 99999999 !important;
}
.next-badge{
  background: rgba(255,255,255,01);
  color: #007aff;
  float: right;
  margin: 11px;
  font-weight: bold;
}